<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>QA Bot</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="static/styles/styles.css" rel="stylesheet" type="text/css">
  <link href="static/styles/custom-responsive-styles.css" rel="stylesheet" type="text/css">

</head>

<body id="page-top">
  <div class="logo">
  </div>

  <section id="Banner" class="content-section">
    <div class="container content-wrap">
      <h1>Question Answering Bot</h1>
        <h4>Please write story and question only using words and signs listed below, remember also to put 'space' betweend words as well as between punctuation marks</h4>
        <br>
        <hr>
        <p>{{ vocab }}</p>
        <br>
        <h3>{{ warning }}</h3>
        <h6>{{ missmached_words }}</h6>
        <form action = 'predict_answer' method="post">
          <p class="lead">Story:</p>
          <p <b> {{ saved_story }} </b> </p>
          <input type="text" name="input_story" required size="100">
          <p class="lead">Question:</p>
          <p <b> {{ saved_question }} </b> </p>
          <input type="text" name="input_question" required size="50">
          <!-- <p class="lead">Answer:</p>
          <input type="text" name="input_answer" required minlength="2" maxlength="3"  size="10"> -->
          <p></p>
          <br>
          
          <input class="btn btn-primary btn-xl" type="submit" value="Predict Answer">
        </form>
        <br>
        <p></p>
        <p class="lead">Predicted Answer:</p><p><b> {{ pred_answer }}</b></p>
        <p class="lead">Prediction confidence:</p><p><b> {{ pred_conf }}</b></p>
        
        <hr>
        <br>
        <a class="btn btn-primary btn-xl" href="/ask_question">Reset</a>
        <a class="btn btn-primary btn-xl" href="/">Return to a main page</a>
        
    </div>
    <div class="overlay"></div>
  </section>

</body>

</html>